@model PipelineWebApplication.Models.PipelinePassport

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Участки трубопровода</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WallThickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WallThickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PavingDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PavingDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInternalCoating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInternalCoating)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => OutdoorCoating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => OutdoorCoating)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfConstruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfConstruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviationToString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingCompany.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactoryMpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactoryMpt.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactoryPipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactoryPipe.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalCoating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalCoating.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PipeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PipeType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PipelineData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PipelineData.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
