@model PipelineWebApplication.Models.PipelinePassport

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Участки трубопровода</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WallThickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WallThickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PavingDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PavingDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInternalCoating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInternalCoating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutdoorCoating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutdoorCoating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfConstruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfConstruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointReplacement1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointReplacement1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointReplacement2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointReplacement2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointReplacementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointReplacementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingCompany.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactoryMpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactoryMpt.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactoryPipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactoryPipe.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalCoating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalCoating.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PipeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PipeType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PipelineData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PipelineData.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
