@model IEnumerable<PipelineWebApplication.Models.PipelinePassport>


@{
    ViewData["Title"] = "Index";
}

<h1>Данные по участкам трубопровда</h1>

<p>
    <a asp-action="Create" >Добавить</a>
</p>
<form  asp-action="Index">
    <p>
        <label for="PipelineDataId" class="control-label"></label>
        <select name="PipelineName" for="PipelineDataId" class="form-control" asp-items="ViewBag.PipelineDataId"></select>
        <input type="submit" value="Фильтр" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlotStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlotEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lenght)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WallThickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PavingDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInternalCoating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutdoorCoating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfConstruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deviation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JointReplacement1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JointReplacement2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JointReplacementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactoryMpt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactoryPipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalCoating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PipeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PipelineData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlotStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlotEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lenght)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WallThickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PavingDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInternalCoating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutdoorCoating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfConstruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JointReplacement1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JointReplacement2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JointReplacementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingCompany.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactoryMpt.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactoryPipe.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalCoating.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipeType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipelineData.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
